<div class="container pt-5">
  <h1 class="text-center titulos animated zoomInUp">
      🍭Feliz Cumpleaños 🎉 Principessa hermosa 🍰🎊
  </h1>
  
  <div class="container pt-5 block animated fadeIn delay-1s">
    <h2 class="titulos">😍¿Por que eres la mejor?✨</h2>
    <br/>
    <p class="lead">  
      Bueno la razón o las razones realmente son infinitas, tu eres una mujer maravillosa que con una simple sonrisa puede transformar un mundo oscuro ☔⚡ en cientos de hermosos paraísos 🌈😊🌞, cuando te conocí Principessa veía como ese gran retoño de grandeza y belleza brotaba en ti por montones brindando a todos una enorme felicidad y sin lugar a duda sabia que eras la mujer indicada para compartir y crear un mundo llamado amor. 
      <br/><br/>
      Mi corazón, cada día a tu lado es un sinfín de emociones fantásticas ✨ que generan enormes cantidades de felicidad, felicidad que llena todo mi ser y corazón elevándolo ✈ a un lugar de donde jamás caerá porque tu eres ese pilar que lo sostiene, un pilar que cada día se fortalece con cada abrazo, cada beso y cada palabra que pronuncias, es como si susurraras al universo que has llegado a dar amor y que este perdurara por siempre para que la vida de todos los que te amamos y te admiramos sea prospera en la felicidad.
    </p>
  </div>

  <div class="container pt-5 block animated fadeIn delay-2s">
    <h2 class="titulos">📅¿Y que celebramos hoy?🌞</h2>     
    <br/>
    <p class="lead">
      Pues nada más y nada menos que un grandioso año más de tu maravillosa vida 🎂…. seeee 🎈🍰 weeee!!!, epa epa 💃🎶 Feliz cumpleaños a ti, feliz cumpleaños a ti, feliz cumpleaños principessa 🎶, que genial no lo crees? 
      <br/><br/>
      Hoy todo es armonioso 🌈, fantástico 😻 y sin igual… la principessa esta de cumpleaños, hay que grandiosa es la vida mi corazón y más cuando una mujer tan espectacular como tu vive para brindar un gran amor.      
    </p>
  </div>
  
  <div class="container animated fadeIn delay-2s">
    <div class="row">
      <div class="col"></div>      
        <button class="btn btn-danger btn-lg corazon" data-toggle="modal" data-target="#modalCorazon">
            💥 Clic 💥
        </button>      
      <div class="col"></div>
    </div>
  </div>
  <!--animated fadeIn delay-5s-->
  
  <div class="modal fade" id="modalCorazon">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title titulos">
                  🔥Te amo con todo mi ser 😇 y corazón💖
              </h5>            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              &times;
            </button>
          </div>
          <div class="modal-body">  
            <iframe class="container" height="315" src="https://www.youtube.com/embed/bdOXnTbyk0g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                      
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container animated fadeIn delay-2s">
    <div class="row">
    <div class="col"></div>
      <p class="lead pt-3 Pie-Web-Page">Copyright &copy; 2019 Cliyi</p>           
    <div class="col"></div>
    </div>
</div>